.tooltip {
	margin: 0 auto;
	padding: 1.5rem;
	max-width: 500px;
	background: #e0e1ef;
}

.tooltip__button {
	width: 2rem;
	height: 2rem;
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MTIgNjEyIj48cGF0aCBkPSJNMjMwLjcgMTgxLjJsLTUgNS41IDUtNS41ek0zMzcgMjAxYzggOS43IDEyIDIxLjIgMTIgMzQuNSAwIDkuNS0zIDE4LjctOC4zIDI3LjUtMyA1LTcgMTAtMTEuOCAxNC41bC0xNi40IDE2Yy0xNS42IDE1LjQtMjUuNyAyOS0zMC4zIDQxLTQuNiAxMS44LTcgMjcuNS03IDQ3aDM2LjNjMC0xNy4yIDItMzAgNS44LTM5IDQtOC43IDEyLjQtMTkuMyAyNS40LTMyIDE4LTE3LjQgMzAtMzAuNiAzNS43LTM5LjVzOS0yMC43IDktMzVjMC0yMy44LTgtNDMuNC0yNC4yLTU4LjctMTYtMTUuMy0zNy41LTIzLTY0LjMtMjMtMjkgMC01MS43IDktNjguMyAyN1MyMDYgMjIyLjYgMjA2IDI1MmgzNmMuOC0xNy43IDMuNi0zMS4yIDguNS00MC42IDguNy0xNi44IDI0LjMtMjUuMiA0Ny0yNS4yIDE4LjQgMCAzMS41IDUgMzkuNSAxNC43eiIvPjxwYXRoIGQ9Ik02MTIgMzA2QzYxMiAxMzcgNDc1IDAgMzA2IDBTMCAxMzcgMCAzMDZzMTM3IDMwNiAzMDYgMzA2IDMwNi0xMzcgMzA2LTMwNnptLTU4NC4yIDBDMjcuOCAxNTIuNCAxNTIuNCAyNy44IDMwNiAyNy44UzU4NC4yIDE1Mi40IDU4NC4yIDMwNiA0NTkuNiA1ODQuMiAzMDYgNTg0LjIgMjcuOCA0NTkuNiAyNy44IDMwNnoiLz48cGF0aCBkPSJNMjc0LjUgNDE1LjJIMzE1djQyLjRoLTQwLjV6Ii8+PC9zdmc+) no-repeat;
	background-size: cover;
	border: none;
	cursor: pointer;
}
